version: "3.8"

services:
  linux:
    container_name: linux
    build:
      dockerfile: ./Dockerfile
    tty: true
    privileged: true
    stdin_open: true
    volumes:
      - .:/var/lib/pdf-to-text
